Alexandr Ciornii <chorny@cpan.org> <alexchorny@gmail.com>
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Chase Whitener <capoeirab@cpan.org> <chase.whitener@infotechfl.com>
Dave Cross <davecross@cpan.org> <dave@angel.mag-sol.com>
Dave Cross <davecross@cpan.org> <dave@dacross.(none)>
Dave Cross <davecross@cpan.org> <dave@dave.org.uk>
Michiel Beijen <michielb@cpan.org> <michiel.beijen@gmail.com>
Mohammad S Anwar <manwar@cpan.org> <mohammad.anwar@yahoo.com>
Kazuhiro Osawa <yappo@cpan.org> <yappo@shibuya.pl>
